html {
  font-size: 125%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #080808;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #080808;
  text-decoration: none;
}
